<p id="notice"><%= notice %></p>
<div class="card">
  <h5 class="card-header"><b>Available Movies</b></h5>
  <div class="card-body">
    <div class="row">
    <% @movies.each do |movie| %>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="<%= movie.cover_url %>" style="width:100%">
          </div>
          <div class="flip-card-back">
            <font size="1.5">
              <p><strong>Movie name: </strong><%= movie.name %></p>
              <p><strong>Release Date: </strong><%= movie.release_date %></p>
              <p><strong>Rating: </strong><%= movie.rating %></p>
              <p><strong>Genre: </strong><%= movie.genre.name %></p>
              <p><strong>Movie URL: </strong><%= movie.movie_url %></p>
            </font>
            <%= link_to 'Show', movie %>
          </div>
        </div>
      </div> 
    <% end %>
    </div><br>
    <%= link_to 'New Movie', new_movie_path %>
    <%= link_to 'Search Movie using TMDB API', api_search_movies_path %>
  </div>
</div>