<p id="notice"><%= notice %></p>
<h5 class="container" style="background-color: #bce5ff; color:#42698f; opacity:0.7"><b>Available Movies</b></h5>
<div class="container">
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="<%= movie.cover_url %>" class="img-fluid" alt="Responsive image">
          </div>
          <div class="flip-card-back">
            <font size="1.5"><br>
              <p><strong>Movie name: </strong><%= movie.name %></p>
              <p><strong>Release Date: </strong><%= movie.release_date %></p>
              <p><strong>Rating: </strong><%= movie.rating %></p>
              <p><strong>Genre: </strong><%= movie.genre.name %></p>
            </font>
            <br><%= button_to 'Show', movie, :method => :get, :class => "btn btn-outline-info btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div><br><br>
  <div class="row">
    <%= button_to 'New Movie', new_movie_path, :method => :get, :class => "btn-md btn-primary" %> &nbsp;
    <%= button_to 'Search Movie using TMDB API', api_search_movies_path, :method => :get, :class => "btn-md btn-primary" %>
  </div>
</div>