<p id="notice"><%= notice %></p>
<div class="card">
  <h5 class="card-header"><b>Available Movies</b></h5>
  <div class="card-body">
    <div class="row">
    <% @movies.each do |movie| %>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="<%= movie.cover_url %>" style="width:100%">
          </div>
          <div class="flip-card-back">
            <ul>
              <li>Movie name: <%= movie.name %></li>
              <li>Release Date: <%= movie.release_date %></li>
              <li>Rating: <%= movie.rating %></li>
              <li>Genre: <%= movie.genre.name %></li>
              <li>Movie URL: <%= movie.movie_url %></li>
            </ul>
          </div>
        </div>
      </div> 
    <% end %>
    </div><br>
    <%= link_to 'New Movie', new_movie_path %>
    <%= link_to 'Search Movie using TMDB API', api_search_movies_path %>
  </div>
</div>