<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Movie url:</strong>
  <%= @movie.movie_url %>
</p>

<p>
  <strong>Release Date:</strong>
  <%= @movie.release_date %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre.name %>
</p>

<p>
  <strong>Cover url:</strong><br>
  <img class="card-img-left" src= "<%= @movie.cover_url %>"/>
</p>

<p>
  <strong>Directors:</strong><br>
</p>
  <% @movie.movie_artists.where(role: 'Director').each do |ma| %>
<ul>
<li>  <%= ma.artist.name%> </li>
</ul>
<% end %>

<p>
  <strong>Producers:</strong><br>
</p>
  <% @movie.movie_artists.where(role: 'Producer').each do |ma| %>
<ul>
<li>  <%= ma.artist.name%> </li>
</ul>
<% end %>

<p>
  <strong>Cast:</strong><br>
</p>
  <% @movie.movie_artists.where(role: 'Cast').each do |ma| %>
<ul>
<li>  <%= ma.artist.name%> </li>
</ul>
<% end %>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
