<p id="notice"><%= notice %></p>
<div class="row" style="align-items:center">
  <div class="col-4"> 
    <div class="card" style="width:75%">
      <img src="<%= @movie.cover_url %>" style="width:100%">
    </div> 
  </div>
  <div class="col-7">
    <div class="row">
      <div class="card" style="width:700px; background-color:rgba(0, 151, 255, 0.3)">
        <font size="2">
          <div class="container"><br>
            <strong>Overview:</strong><br>
            <%= @movie.overview %><br><br>
          </div>
        </div>
      </font>
    </div><br>
    <div class="row">
      <div class="card" style="width:700px; background-color:rgba(0, 151, 255, 0.3)">
        <div class="container">
          <font size="2"><br>
            <div class="row">
              <div class="col">
                <strong>Movie name: </strong><%= @movie.name %><br>
                <strong>Genre: </strong><%= @movie.genre.name %><br>
                <strong>Rating: </strong><%= @movie.rating %><br>
                <strong>Release Date: </strong><%= @movie.release_date %><br>
                <strong>Movie url: </strong><%= @movie.movie_url %><br><br>
              </div>
              <div class="col">
                <strong>Cast:</strong><br>
                <% @movie.cast.take(10).each do |ma| %>
                  <%= ma.artist.name%><br>
                <% end %><br>
              </div>
              <div class="col">
                <strong>Directors: </strong><br>
                <% @movie.directors.each do |ma| %>
                  <%= ma.artist.name%><br>
                <% end %><br>
                <strong>Producers: </strong><br>
                <% @movie.producers.take(5).each do |ma| %>
                  <%= ma.artist.name%><br>
                <% end %><br>
              </div>
            </div>
          </div>
        </font>
      </div>
    </div>
  </div>  
</div>
<br>
<div class="container">
  <div class="row">
    <%= link_to 'Back', movies_path, :class => "btn btn-sm btn-secondary" %> &nbsp; &nbsp; &nbsp; &nbsp;
    <% if current_user.is_admin? %>
      <%= link_to 'Edit', edit_movie_path(@movie), :class => "btn btn-sm btn-info" %> &nbsp; &nbsp;
      <%= link_to 'Destroy', @movie, method: :delete, :class => "btn btn-sm btn-danger", data: { confirm: 'This movie will be deleted. Are you sure?' } %> &nbsp; &nbsp;
    <% else %>
      <%= link_to 'Rent', new_rental_path(movie_id: @movie.id), class: 'btn btn-sm btn-primary' %> &nbsp; &nbsp;
    <% end %>
    <% if @movie.active? %>
      <font color="green">Active</font>
    <% else %>
      <font color="red">Inactive</font>
    <% end %>
  </div>
</div>