<h1>New Rentals</h1>
<br>
<% if current_user.rentals.active.where(movie_id: @movie.id).exists? %>
  <p>You have an active rent for <b><%= @movie.name %></b></p>
  <p>From: <%= current_user.rentals.active.find_by(movie_id: @movie.id).valid_from %></p>
  <p>Until: <%= current_user.rentals.active.find_by(movie_id: @movie.id).valid_to %></p>
<% else %>
  <p>You are renting: <b><%= @movie.name %></b></p>
  <p>From: <%= @rental.valid_from %></p>
  <p>Until: <%= @rental.valid_to %></p>

  <p>Note: 2 days rental period will start once you confirm this operation.</p>

  <%= form_for @rental, utl: {action: "create"} do |f| %>
    <%= hidden_field_tag(:movie_id, @movie.id) %>
    <%= f.submit "Confirm", class: 'btn btn-sm btn-success' %>
  <% end %>
<% end %>
<br>
<%= link_to "Movies", movies_path, class: 'btn btn-sm btn-secondary'%>
<%= link_to "My Rentals", rentals_path, class: 'btn btn-sm btn-primary'%>