<h1>New Rentals</h1>
<br>
<p>You are renting: <%= @movie.name %></p>
<p>From: <%= @rental.valid_from %></p>
<p>Until: <%= @rental.valid_to %></p>

<p>Note: 2 days rental period will start once you confirm this operation.</p>

<%= form_for @rental, utl: {action: "create"} do |f| %>
  <%= hidden_field_tag(:movie_id, @movie.id) %>
  <%= f.submit "Confirm", class: 'btn-md btn-primary' %>
  <%= button_to "Back", movies_path, class: 'btn-md btn-secondary'%>
<% end %>